{% extends "pizzas/base.html" %}


{% block page_header %}
<h1>{{ pizza }}</h1>
{% endblock page_header %}
{% block content %}
{% load static %}
{% if pizza.id == 1 %}
<img src="{% static 'pizzas/images/cheesepizza.png' %}">
{% elif pizza.id == 2 %}
<img src="{% static 'pizzas/images/pepperonipizza.png' %}">
{% elif pizza.id == 3 %}
<img src="{% static 'pizzas/images/meatloverspizza.png' %}">
{% else %}
<img src="{% static 'pizzas/images/hawaiianpizza.png' %}">
{% endif %}

<h3>Toppings:</h3>

<ul>
    {% for t in toppings %}

    <li>
        <h4>
            {{ t.name }}
        </h4>
    </li>

    {% empty %}
    <li>
        <h4>No toppings have been added yet.</h4>
    </li>

    {% endfor %}
</ul>
<h4>Comments:</h4>
<ul>
    {% for c in comment %}
    <div class="card mb-3">
        <h5 class+"card-header">
            {{ c.date_added|date:'M d, Y H:i' }}
        </h5>
        <div class="card-body">
            {{ c.text|linebreaks }}
        </div>
    </div>

    {% empty %}
    <p>There are no comments for this pizza.</p>
    {% endfor %}
</ul>


<h5><a href="{% url 'pizzas:new_comment' pizza.id %}">Add New Comment</a></h5>


{% endblock content %}