{% extends "pizzas/base.html" %}


{% block content %}
{% load static %}
<p>Pizza: {{ pizza }}</p>
{% if pizza.id == 1 %}
<img src="{% static 'pizzas/images/cheesepizza.png' %}">
{% elif pizza.id == 2 %}
<img src="{% static 'pizzas/images/pepperonipizza.png' %}">
{% elif pizza.id == 3 %}
<img src="{% static 'pizzas/images/meatloverspizza.png' %}">
{% else %}
<img src="{% static 'pizzas/images/hawaiianpizza.png' %}">
{% endif %}

<p>Toppings:</p>

<ul>
    {% for t in toppings %}

    <li>
        {{ t.name }}
    </li>

    {% empty %}
    <li>No toppings have been added yet. </li>

    {% endfor %}
</ul>
<p>Comments:</p>
<ul>
    {% for c in comment %}
    <li>
        <p>{{ c.date_added | date:'M d, Y H:i' }}</p>
        <p>{{ c.text }}</p>
    </li>

    {% empty %}
    <li>There are no comments for this pizza.</li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'pizzas:new_comment' pizza.id %}">Add new comment</a>
</p>

{% endblock content %}